<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.ord//DTD Mapper 3.0//EN"
        "http://mybatis.org//dtd/mybatis-3-mapper.dtd">

<mapper namespace="myBatis.OrderMapper">

    <select id="orderJoinCustomers" resultMap="orderResultMap" >
        select * from customers inner join orders on customers.id = orders.customer_id;
    </select>

    <select id="getByID" parameterType="int" resultMap="orderResultMap">
        SELECT * FROM Orders WHERE id = #{id};
    </select>

    <select id="getAllByID" parameterType="int" resultMap="orderResultMap">
        SELECT * FROM Orders WHERE customer_id = #{id};
    </select>

    <update id="updateDeliveryDate" parameterType="map">
        UPDATE orders SET delivery_date = #{date} WHERE id = #{id}
    </update>

    <resultMap id="orderResultMap" type="com.solvd.delivery.bin.Order">
        <id property="id" column="id"/>
        <result property="orderDate" javaType="java.util.Date" column="order_date" />
        <result property="deliveryDate" javaType="java.util.Date" column="delivery_date"/>
        <collection property="customer" resultMap="myBatis.CustomerMapper.customerResultMap"/>
    </resultMap>

</mapper>